{{>headbar}}
{{>navbar}}
<div>
    <div class="row">
        <div class="col-8">
            <h1>Que honda</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro dolor debitis optio reprehenderit magnam ex, totam error accusantium eaque in dolore accusamus. Reiciendis qui totam perspiciatis, rerum voluptates eaque vel!</p>
        </div>
    </div>
    <div>
        <div>
            <img src="assets/img/patoDonal.png" class="img-thumbnail">
        </div>
    </div>
</div>
{{>footer}}